*{
    box-sizing: border-box;
}


#album {
	position: absolute;
	height: 40%;
	width: 25%;
	max-height: 75%;
	max-width: 40%;
}


#cover {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	max-width: 100%;
	min-width: 100%;
	background-image: url('media/images/dj\ chase\ -\ make\ a\ wish\ official\ artwork\ \(3000\ ×\ 3000\ px\).png');
	background-size: 100% 100%;
	box-shadow: 5px 0 20px 0 rgba(0, 0, 0, 0.6),
		inset 0 0 10px 5px rgba(255, 255, 255, 0.2),
		inset 0 0 4px 2px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}


#vinyl {
	position: absolute;
	top: 2.5%;
	left: 2.5%;
	width: 80%;
	height: 95%;
	max-width: 100%;
	display: block;
	background-image: url('https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Music-PNG/Gramophone_Vinyl_LP_Record_PNG_Transparent_Clip_Art_Image.png?m=1462983196');
	background-size: 106% 106%;
	background-position: center;
	box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.6);
	border-radius: 50%;
	content: '';
	


}

.vinyl-out {
	animation: 5s linear spinThat infinite, 1s ease-in getOut 1s forwards;
	-webkit-transition: 1s ease-in;
	-moz-transition: 1s ease-in;
	-o-transition: 1s ease-in;
	transition:  1s ease-in;

}


#vinyl:before {
	position: absolute;
	top: 2.5%;
	left: 2.5%;
	width: 95%;
	height: 95%;
	background-image: url('https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Music-PNG/Gramophone_Vinyl_LP_Record_PNG_Transparent_Clip_Art_Image.png?m=1462983196');
	background-size: 100% 100%;
	border-radius: 50%;
	mix-blend-mode: screen;
	opacity: 0.3;
	content: '';
}


#print{
	position: absolute;
	top: 33%;
	left: 37%;
	height: 25%;
	width: 25%;
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/83141/play.svg') center / cover no-repeat;
	background-size: cover;
	border-radius: 50%;
	filter:brightness(161%);

}



.is-playing {
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/83141/pause.svg') center / cover no-repeat !important;
	background-size: cover;
}


@keyframes getOut {
	0% {
		left: 0;
	}

	100% {
		left: 50%;
	}
}

@keyframes getIn {
	0% {
		left: 50;
	}

	100% {
		left: 0%;
	}
}


@keyframes spinThat {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@media only screen and (max-width:800px) {
	/* For tablets: */
	.main {
	  width: 80%;
	  padding: 0;
	}
	.right {
	  width: 100%;
	}
  }
  @media only screen and (max-width:500px) {
	/* For mobile phones: */
	.menu, .main, .right {
	  width: 100%;
	}
  }
