:root {
    --branding-color:  #fff;
    --secondary-color: #D60A0A;
    --heading-font-family: 'Vujahday Script', cursive;
    --default-font-family: 'Montserrat', sans-serif;
  }



a {
    text-decoration: none;
}

h1 {
    font-weight: 900;
    font-size: 6.75rem;
    color: black;
    font-family: var(--heading-font-family);
    transform: rotate(-20deg);
}

h2 {
    font-family: var(--heading-font-family);

}

body {
    background: url('media/images/1.png');
    height: 80vh;
    margin: auto;
    font-family: var(--default-font-family);
    color: var(--branding-color);
}

#a{
    margin-top: -15px;
}
#content{
    margin-top: -105px;
}

#a,
#content {
    box-sizing: border-box;
    padding: 50px;
    display: inline-block;
    height: 150px;
    vertical-align: top;
    

}
.buttons{
    padding-bottom: 10px;
    
}


.button {
    padding: 16px 16px;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    line-height: 1.25;
    background: var(--secondary-color);
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .08em;
    text-transform: uppercase;
    display: inline;
    border-radius: 10px;
}



#content {
    text-align: justify;
    overflow-y: auto;
    overflow-x: hidden;
    float:right;
    height: 500px;
    width: 50%;
    margin-top: -15%;
}

.header {
	
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.main-nav {
    display: block;
    width: 100%;
    height: 1rem;
    color: #fff;
}

	.main-nav__list{
        float: right;
        margin-right: 5%;
        height: 1rem;
        list-style: none;
        position: relative;
    }
    .main-nav__item{
		display: inline-block;
		height: 1rem;
		margin-right: 2rem;
	}
	.main-nav__link{
		color: var(--branding-color);
		font-weight: 500;
		height: 1rem;
		padding: 1rem 1px;
		float: left;
	}
	.main-nav__active { 
		transition: all 0.5s cubic-bezier(.55, 0, .1, 1);
		background:var(--secondary-color);
		height: 3px;
		display: inline-block;
		position: absolute;
		left: 0;
		bottom: 3px;
	}

    #music-section {
        margin-top: -155px;
    }


      i{
        color: var(--branding-color);
        background: black;
        padding: 5px 5px;
        border-radius: 50%;
        font-size: 1.2rem;
        transition: all 100ms ease-in-out;
      }
      i:hover{
        background: var(--secondary-color);
        color: white;
      }

      .social-link{
        white-space: 0;
      }
      
      .main-nav a:hover {
        color:var(--secondary-color);
      }

.music-icon{
    width: 125px;
    height: 41px;
    z-index: 2;
}

.music-btns{
    margin-top: -200%;
}

.name-logo{
    width: 600px;
    height: 400px;
    z-index: -9999;
    padding: 0;
    margin-top: -1%;
}


.home-img {
  z-index: -1;
  margin-top: -60%;
  margin-left: 64%;
  height: 515px;
  width: 600px;

  

}

.content-container {
    width: 150%;
    padding: 60px 20px;
  }

  .share-btn{
    background: none;
    color: black;
  }


